[Desktop Entry]
Version=1.0
Type=Application
Name=Prophesy Server
Comment=Start the Prophesy webservice
Exec=/home/prophesy/prophesy/run_server.sh
Icon=
Path=/home/prophesy/prophesy
Terminal=true
StartupNotify=false
