* { padding: 0; margin: 0px; vertical-align: top; }

body {
    background-color: #eee;
    font: 16px/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
}

/*a { color: #069; }
a:hover { color: #28b; }*/

h2 {
    margin-top: 15px;
    font: normal 32px "omnes-pro", Helvetica, Arial, sans-serif;
}

h3 {
    margin-left: 30px;
    font: normal 26px "omnes-pro", Helvetica, Arial, sans-serif;
    color: #666;
}

p {
    margin-top: 10px;
}

button {
    font-size: 16px;
    padding: 1px 7px;
}

input {
    font-size: 16px;
}

input[type=checkbox] {
    margin: 7px;
}

#header {
    position: relative;
    height: 80px;
    background-color:#cd0010;
    color: #eee;
    margin: 0px;
}

#header.busy {
    animation: backgroundColor 2s linear infinite;
}

@keyframes backgroundColor
{
    0%   { background-color:#cd0010; }
    50%  { background-color:#ff4050; }
    100% { background-color:#cd0010; }
}

#header h1 {
    margin-left: 10px;
    padding-top: 30px;
    font-size: 55px;
    font-weight: bold;
    text-decoration: none;
    color: #eee;
}

#busy-indicator {
    float: right;
    display: none;
}

#infopanel {
    display:inline-block;
    width: 400px;
}

#controlpanel {
    display:inline-block;
    width: 422px;
}

#plotsurround {
    width: 800px;
    display:inline-block;
}

#placeholder {
    min-width:800px;
    min-height:800px;
}

.cp {
    background-color: #ddd;
    width: 420px;
}

#footer {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    color: #999;
}

#info_ratfunc {
    white-space: pre-wrap;
    height: 700px;
    overflow: auto;
}

.legend table {
    border-spacing: 5px;
}

#input .tab {
    height: 9em;
}

#samples .tab {
    height: 6em;
}

#constraints .tab {
    height: 6em;
}

