/*----- Tab Links -----*/
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}
.tab-links li {
    margin-right:1ex;
    float:left;
    list-style:none;
}  
.tab-links a {
    padding:6px 10px;
    display:inline-block;
    border-style: solid solid none solid;
    border-width:1px;
    border-color: #000;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
}
 
.tab-links a:hover {
    background:#DDC1C3;
    text-decoration:none;
}
 
li.active a, li.active a:hover {
    background-color: #ddd;
    color:#4c4c4c;
}
 
/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}