#legend {
    width: 550px;
    margin-left: 25px;
    float: left;
}

.legendColorBox {
    padding: 2px;
    padding-top: 7px;
}

.legendLabel {
    padding: 2px;
    padding-right: 5px;
}

#tooltip {
    position: absolute;
    display: none;
    border: 1px solid;
    padding: 2px;
    background-color: #F6F6B9;
    opacity: 0.80;
}

.tbheatmap {
    width: 30px;
    display: none;
}

#input .tab {
    height: 7.5em;
}

#samples .tab {
    height: 7.5em;
}

#constraints .tab {
    height: 6em;
}

.colLeft {
    width: 170px;
    float: left;
}

.colRight {
    width: 250px;
}

#info_ratfunc {
    white-space: pre-wrap;
    max-height: 700px;
    overflow: auto;
}

#infopanel {
    display:inline-block;
    width: 20%;
}

#controlpanel {
    display:inline-block;
    width: 30%;
    min-width: 435px;
}

#plotsurround {
    width: 50%;
    height: 100%;
    min-width:400px;
    min-height:400px;
    display:inline-block;
    position: relative;
}

#placeholderWrapper {
    width: 100%;
    position: relative;
}
#placeholderWrapper:before{
    content: "";
    display: block;
    padding-top: 100%;
}

#placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#legendContainer {
    min-width:800px;
    text-align: center;
    padding-top: 10px;
    height: 50px;
}

.legend table {
    border-spacing: 5px;
}

.cp {
    background-color: #ddd;
    min-width: 435px;
}
