#legend {
    width: 550px;
    margin-left: 25px;
    float: left;
}

.legendColorBox {
    padding: 2px;
    padding-top: 7px;
}

.legendLabel {
    padding: 2px;
    padding-right: 5px;
}

#tooltip {
    position: absolute;
    display: none;
    border: 1px solid;
    padding: 2px;
    background-color: #F6F6B9;
    opacity: 0.80;
}

.tbheatmap {
    width: 30px;
    display: none;
}

#input .tab {
    height: 7.5em;
}

#samples .tab {
    height: 7.5em;
}

#constraints .tab {
    height: 6em;
}

.colLeft {
    width: 10em;
    float: left;
}

.colRight {
    width: 17em;
}

#info_ratfunc {
    white-space: pre-wrap;
    max-height: 700px;
    overflow: auto;
}

#infopanel {
    display:inline-block;
    width: 27em;
    padding-top: 40px;
}

#controlpanel {
    display:inline-block;
    width: 27em;
    padding-top: 40px;
}

#plotsurround {
    min-width:400px;
    min-height:450px;
    display:inline-block;
    position: relative;
}

#placeholderWrapper {
    min-width: 400px;
    width: calc(100vw - 20px);
    max-width: calc(100vh - 50px - 10.5em);
    position: relative;
}
#placeholderWrapper:before{
    content: "";
    display: block;
    padding-top: 100%;
}

#placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#legendContainer {
    text-align: center;
    padding-top: 10px;
    height: 50px;
}

.legend table {
    border-spacing: 5px;
}

.cp {
    background-color: #ddd;
}
